/* Beth Yanez, Fall 2023, WDD330: Web Development, Personal Project */
@import url("https://fonts.googleapis.com/css2?family=Vidaloka:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --font-body: Raleway, Lato, sans-serif;
  --font-headings: Vidaloka, serif;
  /* colors */
  --primary-dark: #214159;
  --text-background: #21415990;
  --med-gray: #8397ab;
  --pale-blue: #bbd7f2;
  --primary-light: #e4ecf1;
  --accent-1: #e9e7af;
  --accent-2: #fca65f;
  --accent-3: #cc0000;

  /* smaller screen font sizes */
  --font-h1: 3rem;
  --font-h2: 2rem;
  --font-h3: 1.5rem;
  --font-p: 1rem;
  --small-font: 0.8rem;

  --border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-family: var(--font-body);
  text-decoration: none;
  color: var(--primary-dark);
  cursor: pointer;
}

h1 {
  background-image: linear-gradient(
    to bottom,
    var(--accent-3),
    var(--accent-2),
    var(--accent-3)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--primary-dark);
  font-size: var(--font-h1);
  font-family: var(--font-headings);
  text-align: center;
  padding: 0.2em;
}

h2 {
  background-image: linear-gradient(
    to bottom,
    var(--accent-3),
    var(--accent-1),
    var(--pale-blue),
    var(--primary-dark)
  );
  font-size: var(--font-h2);
  font-family: var(--font-headings);
  margin: 1em 0 0 0;
  text-align: center;
}

h3 {
  font-size: var(--font-h3);
  font-family: var(--font-headings);
  width: 100%;
  margin: 0.5em 0;
  text-align: center;
}

p {
  padding: 10px;
  margin: 0 4em;
  font-size: var(--font-p);
  background-color: var(--text-background);
  color: var(--primary-light);
  border-radius: var(--border-radius);
}

img {
  max-width: 100%;
}

body {
  padding: 0;
  font-family: var(--font-body);
  font-size: var(--font-p);
  color: black;
  background-image: linear-gradient(
    to bottom right,
    var(--primary-dark),
    var(--med-gray),
    var(--pale-blue),
    var(--accent-1),
    var(--accent-2),
    var(--accent-3)
  );
  background-repeat: no-repeat;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}

.main-header {
  padding: 25px;
  text-align: center;
  background-color: var(--primary-dark);
  font-family: var(--font-headings);
}

.nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--pale-blue);
}

.nav a,
.nav ul,
.nav li {
  padding: 3px 5px;
  text-decoration: none;
  color: var(--primary-dark);
  text-align: center;
  list-style-type: none;
  font-weight: bold;
}

/* Change color on hover */
.nav li:hover {
  background-color: var(--accent-1);
  border-radius: var(--border-radius);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.side-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.main-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.side {
  text-align: center;
}

.main-right ul,
.main-right li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}

#pokemonTypes li a {
  background-image: linear-gradient(
    to top,
    var(--primary-light),
    var(--accent-2)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--accent-2);
  border: 2px solid var(--pale-blue);
  border-radius: var(--border-radius);
  padding: 10px;
  font-weight: bold;
}

#pokemonTypes li {
  background-color: var(--text-background);
  border-radius: var(--border-radius);
  margin: 2px;
}

.button {
  background-color: var(--accent-1);
  color: var(--primary-dark);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--font-p);
  margin: 4px 2px;
  cursor: pointer;
  border: 8px solid var(--accent-2);
}

.pokemon-card {
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  max-width: 100%;
  border-radius: var(--border-radius);
}

footer {
  font-size: var(--small-font);
  font-family: var(--font-body);
  padding: 1em;
  margin: 3em 0 0;
  background-color: var(--primary-dark);
  color: var(--pale-blue);
  font-weight: bold;
}

/* Design for Medium Screens and larger */
@media screen and (min-width: 768px) {
  :root {
    --font-h1: 4rem;
    --font-h2: 2.5rem;
    --font-h3: 2rem;
    --font-p: 1.2rem;
  }

  .nav,
  .nav ul,
  .nav li {
    display: flex;
    justify-content: space-evenly;
    padding: 7px;
  }

  .side-column {
    flex: 1;
  }

  .side,
  .side p {
    background-image: url("src/public/images/pokeball-png-45332.png");
    background-color: var(--med-gray);
    color: var(--primary-light);
    margin: 2em 0.2em;
    padding: 10px;
  }

  .main-column {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
  }

  .main-right ul,
  .main-right li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #pokemonTypes li {
    /* background-image: linear-gradient(
      to top,
      var(--primary-light),
      var(--accent-2)
    ); 
    color: var(--primary-dark); */
    border: 1px solid var(--accent-3);
    border-radius: var(--border-radius);
    margin: 5px;
    padding: 10px;
    width: 20%;
  }

  #pokemonTypes li a {
    color: var(--primary-dark);
    border: none;
    padding: 10px;
    font-weight: bold;
  }

  .pokemon-card {
    width: 40%;
  }
}

/* Design for Larger Screens 
@media only screen and (min-width: 992px) */
