/* Beth Yanez, Fall 2023, WDD330: Web Development, Personal Project */
@import url("https://fonts.googleapis.com/css2?family=Vidaloka:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --font-body: Raleway, Lato, sans-serif;
  --font-headings: Vidaloka, serif;
  /* colors */
  --black: #191919;
  --black-alpha50: #19191950;
  --black-alpha25: #19191925;
  --red: #f44336;
  --white: #ffffff;
  --blue: #007bff;
  --green: #28a745;
  --yellow: #ffc107;

  /* smaller screen font sizes */
  --font-h1: 3rem;
  --font-h2: 2rem;
  --font-h3: 1.5rem;
  --font-p: 1rem;
  --small-font: 0.8rem;

  --border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-family: var(--font-body);
  text-decoration: none;
  color: var(--green);
  cursor: pointer;
}

h1 {
  background-image: linear-gradient(
    to bottom,
    var(--red),
    #ffffff70,
    var(--white)
  );
  background-color: var(--red);
  font-size: var(--font-h1);
  font-family: var(--font-headings);
  text-align: center;
  padding: 0.2em;
}

h2 {
  background-image: linear-gradient(
    to bottom right,
    var(--black),
    var(--red),
    var(--black)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-h2);
  font-family: var(--font-headings);
  margin: 1em 0 0 0;
  text-align: center;
}

h3 {
  font-size: var(--font-h3);
  font-family: var(--font-headings);
  width: 100%;
  margin: 0.5em 0;
  text-align: center;
}

p {
  padding: 10px;
  margin: 0 4em;
  font-size: var(--font-p);
  background-color: var(--text-background);
  color: var(--primary-light);
  border-radius: var(--border-radius);
}

body {
  padding: 0;
  font-family: var(--font-body);
  font-size: var(--font-p);
  color: black;
  background-image: linear-gradient(
    to right,
    var(--black),
    var(--black-alpha50),
    var(--black-alpha25),
    var(--white),
    var(--black-alpha25),
    var(--black-alpha50),
    var(--black)
  );
  background-repeat: no-repeat;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}

/* *** Header styling *** */
.main-header {
  padding: 25px;
  text-align: center;
  background-color: var(--red);
  font-family: var(--font-headings);
}

.nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: linear-gradient(
    to right,
    var(--black),
    var(--white),
    var(--black)
  );
}

.nav a,
.nav ul,
.nav li {
  padding: 3px 5px;
  text-decoration: none;
  color: var(--black);
  text-align: center;
  list-style-type: none;
  font-weight: bold;
}

/* Change color on hover */
.nav li:hover,
.nav a:hover {
  background-color: var(--black);
  /*border-radius: var(--border-radius);*/
  color: var(--white);
}

/* *** HOME, src/index.html page styling *** */
/* .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.side-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.main-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.side {
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  background-image: linear-gradient(to right,
      var(--black),
      var(--blue),
      var(--black));
}

.main-right ul,
.main-right li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
} */

/* *** List of types of Pokemon styling *** */
/* #pokemonTypes li a {
  background-image: linear-gradient(to top,
      var(--primary-light),
      var(--accent-2));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--accent-2);
  border: 2px solid var(--pale-blue);
  border-radius: var(--border-radius);
  padding: 10px;
  font-weight: bold;
}

#pokemonTypes li {
  background-color: var(--text-background);
  border-radius: var(--border-radius);
  margin: 2px;
} */

/* .pokemon-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.card-type {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px var(--yellow);
  transition: transform 0.3s ease-in-out;
}

.card-type:hover {
  transform: scale(1.05);
}

.card-type img {
  max-width: 100%;
  height: auto;

}

.card-type p {
  margin-top: 10px;
  font-weight: bold;
} */
#pokemon-types {
  max-width: 100%;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.card-type {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px var(--yellow);
  transition: transform 0.3s ease-in-out;
  display: inline-block; /* Make each card take the full width of the container */
  scroll-snap-align: start; /* Snap to the start of each card */
}

#pokemon-types::after {
  content: "";
  display: block;
  clear: both;
}

#pokemon-types .prev,
#pokemon-types .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: var(--blue); /* Set the background color as desired */
}

#pokemon-types .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.button {
  background-color: var(--accent-1);
  color: var(--primary-dark);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--font-p);
  margin: 4px 2px;
  cursor: pointer;
  border: 8px solid var(--accent-2);
}

/* *** Styling for Pokemon cards displayed on type pages *** */
.pokemon-by-type {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.pokemon-by-type li {
  text-decoration: none;
  color: var(--blue);
  list-style-type: none;
  padding: 1em;
}

.pokemon-by-type h3 {
  text-align: center;
  color: var(--green);
}

footer {
  font-size: var(--small-font);
  font-family: var(--font-body);
  padding: 1em;
  margin: 3em 0 0;
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
}

/* Design for Medium Screens and larger */
@media screen and (min-width: 768px) {
  :root {
    --font-h1: 4rem;
    --font-h2: 2.5rem;
    --font-h3: 2rem;
    --font-p: 1.2rem;
  }

  .nav,
  .nav ul,
  .nav li {
    display: flex;
    justify-content: space-evenly;
    padding: 7px;
  }

  .side-column {
    flex: 1;
  }

  .side,
  .side p {
    background-image: url("src/public/images/pokeball-png-45332.png");
    background-color: var(--med-gray);
    color: var(--primary-light);
    margin: 2em 0.2em;
    padding: 10px;
  }

  .main-column {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
  }

  .main-right ul,
  .main-right li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #pokemonTypes li {
    /* background-image: linear-gradient(
      to top,
      var(--primary-light),
      var(--accent-2)
    ); 
    color: var(--primary-dark); */
    border: 1px solid var(--accent-3);
    border-radius: var(--border-radius);
    margin: 5px;
    padding: 10px;
    width: 20%;
  }

  #pokemonTypes li a {
    color: var(--primary-dark);
    border: none;
    padding: 10px;
    font-weight: bold;
  }

  .pokemon-card {
    width: 40%;
  }
}

/* Design for Larger Screens 
@media only screen and (min-width: 992px) */
